#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.project-details-left, .project-details-right {
  padding-bottom: 2em;
}
.project-details-left {
  width: 60%;
  float: left;
}
.project-details-left p, .project-details-right p {
  text-align: left;
}
.project-image-left {
  width: 40%;
  float: left;
}
.project-image-left img, .project-image-right img {
  height: 14em;
  padding-top: 2em;
}
.project-details-right {
  width: 60%;
  float: right;
}
.project-image-right {
  width: 40%;
  float: right;
}
.description {
  padding: 0 18em;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.profilePic {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.card {
  padding: 2em;
}
